<h1>Editing Micropost</h1>

<form action="/microposts/finalize/<%= @micropost.id %>">

<div>
<label for="content_box">Content</label>
<input id="content_box" name="edit_content" value="<%= @micropost.content %>">
</div>

<div>
<label for="user_box">User</label>
<input id="user_box" name="edit_user" value="<%= @micropost.user_id %>">
</div>

<button>Update Micropost</button>

</form>

<a href="/microposts/<%= @micropost.id %>">Back</a>
