<h1>New Micropost</h1>

<form action="/microposts/create">

<div>
<label for="box_content">Content</label>
<textarea id="box_content" name="query_content"></textarea>
</div>

<div>
<label for="box_user">User</label>
<input id="box_user" name="query_user">
</div>

<button>Create Micropost</button>

</form>

<a href="/microposts">Back</a>