<div style="color:red"><%= notice %></div>

<h1>New User</h1>

<form action="/users/create">
  <div>
  <label for="box_name">Name</label>
  <input id="box_name" name="query_name">
  </div>

  <div>
  <label for="box_email">Email</label>
  <input id="box_email" name="query_email">
  </div>

  <button>Create user</button>

</form>

<a href="/users">Back</a>